*{
    text-decoration: none;
    width: 100%;
}


body{
    background-image: url("../images/Progress.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.logo{
    display: none;
}

.title{
    width: 80%;
    color: white;
    font-family: 'Lexend', sans-serif;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px dashed yellow;
    border-style: dotted;
    border-radius: 10px;
    opacity: 80%;
}

.content{
    display: flex;
}


.button-container-two{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-container-one{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttons{
    width: 40%;
    justify-content: center;
    padding: 10px;
    color: white;
    background-color: black;
    border: 2px solid yellow;
    border-radius: 30px;
    cursor: pointer;
    opacity: 75%;
}

.buttons:hover{
    opacity: 100%;
}

.title-holder{
    display: flex;
    justify-content: center;
}