body{
    height: 100vh;
    background-image: url(../images/A-10-Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}
.logo-container{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo{
    padding: 0;
    margin: 0;
    height: 100%;
    aspect-ratio: 1.1;

}
.header{
    position: absolute;
}
.content-container{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    display: inline-block;
    //border: 3px olive solid;
    
    
}
.spacer{
    display: flex;
    justify-content: right;
    margin-right: 20%;
    padding-top: calc(50vh / 8);
    padding-bottom: calc(50vh / 8);
}